extend layout
block content
  .Tabs.Tabs--large
    li.Tabs-tab(class=(activeTab === 'broadcast' ? 'is-active' : ''))
      a.Tabs-tabLink(href='/admin/broadcast/') Message
    li.Tabs-tab(class=(activeTab === 'mirror' ? 'is-active' : ''))
      a.Tabs-tabLink(href='/admin/mirror/') Mirror
  block adminContent
